<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Voter Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">

    <div class="d-flex justify-content-between mb-3">
        <h2 class="text-primary">Voter Details</h2>
        <a href="/admin/dashboard" class="btn btn-secondary">Back</a>
    </div>

    <div class="card shadow p-4">

        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Voter ID</th>
                    <th>Gender</th>
                    <th>DOB</th>
                    <th>Voted</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="v : ${voters}">
                    <td th:text="${v.id}"></td>
                    <td th:text="${v.name}"></td>
                    <td th:text="${v.voterId}"></td>
                    <td th:text="${v.gender}"></td>
                    <td th:text="${v.dob}"></td>
                    <td>
                        <span th:if="${v.voted}" class="badge bg-success">Yes</span>
                        <span th:unless="${v.voted}" class="badge bg-danger">No</span>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

</div>

</body>
</html>